/* navigation.component.css */

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #f0a500; /* Change to an accent color */
  }
  
  .navbar a.active {
    color: #f0a500; /* For active state */
  }
  